.App {
  text-align: center;
}

.SocialIcon i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.github:hover {
  color: #1b545abd;
}

.facebook:hover {
  color: #1773ea;
}

.linkedin:hover {
color: #0a66c2;
}

.twitter:hover{
  color: #38a1f3;
}

.youtube:hover {
  color: #e92525;
}

.pinterest:hover {
  color: #c8232c;
}

.dribbble:hover {
  color: #ee72a2;
}